@tailwind base;
@tailwind components;
@tailwind utilities;

.landing{
    background-image: url('../public/image.png');
    height: calc(100vh - 64px);
}

*{
    font-family: 'Poppins', sans-serif;
}

.card-image{
    width: 170.5px;
}

.banner{
    background-image: linear-gradient(#063053b3, #063053b3), url('../public/universityBackground.af009eb84471c0cfafad.png');
}